{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}


{% block sonata_page_breadcrumb %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': 'work_post', 'work': work, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}

<article class="sonata-blog-work-container">
    <header>
        {#        
                <div class="sonata-blog-work-date-container">
                    <h5>
                        <i class="icon-calendar"></i>
                        {{ work.publicationDateStart | format_date }}
                    </h5>
                </div>
        #}

        <div class="row">
            <div class="col-lg-12">

                <h1 class="sonata-blog-work-title">
                    {{ work.title }}
                    {#<span class="sonata-blog-work-author">{{ 'archive_author'|trans({'%author%': work.author }, 'NzPortfolioBundle') }}</span>#}
                </h1>
            </div>
        </div>

        <div class="sonata-blog-work-information">
            <div class="sonata-blog-work-tag-container">
                <div class="sonata-blog-work-tag-title">
                    {% if work.tags|length > 1 %}
                        <i class="icon-tags"></i>
                    {% else %}
                        <i class="icon-tag"></i>
                    {% endif %}

                    {{ 'published_under'|transchoice(work.tags|length, {}, 'NzPortfolioBundle') }}
                </div>
                {#                
                                <div class="sonata-blog-work-tag-list">
                                    {% for tag in work.tags %}
                                        <a href="{{ url('nz_portfolio_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                #}
            </div>
        </div>
    </header>
    <div class="row">

        <div class="col-md-8">
            {#<img class="img-responsive" src="http://placehold.it/750x500" alt="">#}
            {% media work.image, 'item' %}
        </div>

        <div class="col-md-4">
            <h3>{{ 'work_description'|trans({}, 'NzPortfolioBundle') }}</h3>
            {#<p>Lorem ipsum dolor sit amet</p>#}
            {{ work.content|raw }}
            {#<h3>Project Details</h3>#}
            <h3>{{ 'work_details'|trans({}, 'NzPortfolioBundle') }}</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <div class="sonata-blog-work-content">
    </div>

    {#
        {% render(controller('NzPortfolioBundle:Post:comments', {'workId': work.id})) %}
        {% if work.iscommentable %}
            {% render(controller('NzPortfolioBundle:Post:addCommentForm', {
                'workId': work.id,
                'form': form
            })) %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'NzPortfolioBundle') }}
            </div>
        {% endif %}
    #}
</article>
