{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{#{% block sonata_page_html_tag %}#}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
    {#{% endblock %}#}
    {% block sonata_page_head %}
        <head {{ sonata_seo_head_attributes() }}>

            <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
            {{ sonata_seo_title() }}
            {{ sonata_seo_metadatas() }}

            {% block sonata_page_stylesheets %}
                {% for stylesheet in sonata_page.assets.stylesheets %}
                    <link rel="stylesheet" href="{{ asset(stylesheet) }}" media="all">
                {% endfor %}
            {% endblock %}

            {% block sonata_page_javascripts %}
                <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
                <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

                {% for js in sonata_page.assets.javascripts %}
                    <script src="{{ asset(js) }}"></script>
                {% endfor %}

            {% endblock %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-64605141-1', 'auto');
                ga('send', 'pageview');
            </script>
        </head>
    {% endblock %}

    {#{% block sonata_page_body_tag %}#}
        <body class="sonata-bc">

        {#{% endblock %}#}

        {#{{ include('ApplicationSonataPageBundle:Admin:top_bar.html.twig') }}#}

        {% block sonata_page_container %}
        {% endblock %}

        {% block sonata_page_asset_footer %}
            {% if page is defined %}
                {% if page.javascript is not empty %}
                    <script>
                        {{ page.javascript|raw }}
                    </script>
                {% endif %}
                {% if page.stylesheet is not empty %}
                    <style>
                        {{ page.stylesheet|raw }}
                    </style>
                {% endif %}
            {% endif %}
            {#
                These includes can be done only at this point as all blocks are loaded,
                Limition : this does not work if a global page is loaded from an ESI tag inside a container block
            #}
            {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
            {{ sonata_block_include_javascripts('screen', app.request.basePath) }}
        {% endblock %}

    </body>
</html>
