{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'ApplicationSonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    <div class="container">
        <div class="content">
            {#{{ knp_menu_render('main') }}#}
            <div class="row page-header page-container-header">
                {#<h4>header(global)</h4>#}
                {{ sonata_page_render_container('header', 'global') }}
            </div>
            {#
            #}
            {% block sonata_page_breadcrumb %}
                <div class="row page-breadcrumb">
                    {% if sonata_seo_context is not defined %}
                        {% set sonata_seo_context = 'homepage' %}
                    {% endif %}
                    {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context, 'current_uri': app.request.requestUri }) }}
                </div>
            {% endblock %}

            {% if page is defined %}
                <div class="row page-container-content_top">
                    {#<h4>content_top(global / page)</h4>#}
                    
                    {{ sonata_page_render_container('content_top', 'global') }}
                    {{ sonata_page_render_container('content_top', page) }}
                    
                    {#                    
                                        {% if page.name != 'global'%}
                                        {% endif %}
                    #}
                </div>
            {% endif %}

            <div class="row page-container-content">
                {% block page_content %}
                    {#<h4>content(page)</h4>#}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% elseif page is defined %}
                            {{ sonata_page_render_container('content', page) }}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </div>

            {% if page is defined %}
                <div class="row page-container-content_bottom">
                    {#<h4>content_bottom(page/global)</h4>#}
                    
                    {{ sonata_page_render_container('content_bottom', page) }}
                    {{ sonata_page_render_container('content_bottom', 'global') }}

                    {#                        
                                        {% if page.name != 'global'%}
                                        {% endif %}
                    #}
                </div>
            {% endif %}
        </div>

        <footer class="row page-container-footer">
            {#<h4>footer(global)</h4>#}
            {{ sonata_page_render_container('footer', 'global') }}
        </footer>
    </div>
{#        
            <style>
                h4{
                    border-top: 1px solid #ddd;
                    text-align: center;
                }
            </style>
#}
{% endblock %}
