
{#{% extends 'SonataPageBundle::layout.html.twig' %}#}
{#{% extends 'ApplicationSonataPageBundle::xxx_layout.html.twig' %}#}
{% extends 'ApplicationSonataPageBundle::layout.html.twig' %}


{% block page_content %}

    {% if page is defined %}
        <div class="col-md-8">
            {#<h4>left_col(global/page) -> content</h4>#}

            {{ sonata_page_render_container('left_col', 'global') }}
            {{ sonata_page_render_container('left_col', page) }}

            {{ parent() }}
            {#
                        {% if page.name != 'global'%}
                        {% endif %}
            #}
        </div>
        <div class="col-md-4">
            {#<h4>right_col(global/page)</h4>#}
            {{ sonata_page_render_container('right_col', 'global') }}
            {{ sonata_page_render_container('right_col', page) }}
            {#
                        {% if page.name != 'global'%}
                        {% endif %}
            #}
        </div>
        <div style="clear: both"></div>
    {% endif %}


{% endblock %}

{% block sonata_page_breadcrumb %}{% endblock %}
{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

{% extends 'SonataPageBundle::2columns_layout.html.twig' %}

{% block sonata_page_body_tag %}
    {{ parent() }}

    {% include "SonataSeoBundle:Block:_facebook_sdk.html.twig" %}
    {% include "SonataSeoBundle:Block:_twitter_sdk.html.twig" %}
    {% include "SonataSeoBundle:Block:_pinterest_sdk.html.twig" %}

{% endblock %}

{% block sonata_page_javascripts %}

    <script src="{{ asset('assetic/sonata_front_js.js') }}" type="text/javascript"></script>
{% endblock %}

{% block sonata_page_container %}

    {{ parent() }}

{% endblock %}


#}

